<header class="main-header">
  <div class="logo">📄 <span>DocApp</span></div>

  <nav class="nav-links" *ngIf="estaLogado()">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Início</a>
    <a routerLink="/cnh" routerLinkActive="active">CNH</a>
    <a routerLink="/identidade" routerLinkActive="active">Identidade</a>
    <a routerLink="/saude" routerLinkActive="active">Saúde</a>
    <a *ngIf="ehAdmin()" routerLink="/meus-documentos" routerLinkActive="active">Meus Documentos</a>
    <a routerLink="/perfil" routerLinkActive="active">Perfil</a>
    <a (click)="sair()" class="logout">Sair</a>
  </nav>
</header>
