<header class="main-header">
  <div class="logo">📄 <span>DocApp</span></div>

  <nav class="nav-links">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Início</a>
    <a routerLink="/cnh" routerLinkActive="active">CNH</a>
    <a routerLink="/identidade" routerLinkActive="active">Identidade</a>
    <a routerLink="/saude" routerLinkActive="active">Saúde</a>
    <a routerLink="/meus-documentos" routerLinkActive="active">Meus Documentos</a>
  </nav>
</header>
