<footer class="site-footer">
  <div class="footer-container">
   <div class="footer-col">
      <h4>Empresa</h4>
      <ul>
        <li><a href="#">Quem somos</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Termos de Uso</a></li>
        <li><a href="#">Política de Privacidade</a></li>
        <li><a href="#">Fale Conosco</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Serviços</h4>
      <ul>
        <li><a href="#">Documentos Inteligentes</a></li>
        <li><a href="#">Digitalização</a></li>
        <li><a href="#">Verificação de Identidade</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Mercados</h4>
      <ul>
        <li><a href="#">Saúde</a></li>
        <li><a href="#">Educação</a></li>
        <li><a href="#">Financeiro</a></li>
      </ul>
    </div>
  </div>
</footer>
