<div class="perfil-wrapper">
  <h3>Minhas CNHs</h3>
  <div class="card" *ngFor="let cnh of documentos.cnh">
    <p><strong>Nome:</strong> {{ cnh.nome }}</p>
    <p><strong>Categoria:</strong> {{ cnh.categoria }}</p>
    <button (click)="gerarPdfCNH(cnh)">📥 Baixar CNH em PDF</button>
  </div>

  <h3>Minhas Identidades</h3>
  <div class="card" *ngFor="let rg of documentos.identidade">
    <p><strong>Nome:</strong> {{ rg.nome }}</p>
    <p><strong>RG:</strong> {{ rg.numero }}</p>
    <button (click)="gerarPdfIdentidade(rg)">📥 Baixar Identidade em PDF</button>
  </div>

  <h3>Meus Cartões SUS</h3>
  <div class="card" *ngFor="let s of documentos.saude">
    <p><strong>Nome:</strong> {{ s.nome }}</p>
    <p><strong>Nº SUS:</strong> {{ s.numeroSUS }}</p>
    <button (click)="gerarPdfSaude(s)">📥 Baixar Saúde em PDF</button>
  </div>
</div>
